# Ignorar Todo
*
**/*


# Excepto los tipos
!*.gitignore
!*.pptx
!*.pdf
!*.docx
!*.xise
!*.gise
!*.vhd
!*.h
!*.c
!*.project
!*.cproject
!*.mxproject
!*.ioc
!*.asm
!*.lst
!*.ld
!*Makefile
!*.s


# Incluso si están en un subdirectorio (afecta a los anteriores tipos)
!*/
